@import url("./styles/sideBar.css");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10,700&family=Bodoni+Moda:ital,opsz,wght@1,6,600&family=Inter:opsz,wght@14,400&family=Roboto+Slab:wght@400&display=swap");
@import "tailwindcss";

@theme {
  --font-serif: "Bodoni Moda", serif;
  --font-slab: "Roboto Slab", serif;
  --font-sans: "Inter", sans-serif;
  --font-title: "Big Shoulders", sans-serif;

  --breakpoint-3xl: 105rem;

  --color-pop-magenta: oklch(64.895% 0.26389 358.718);
  --color-pop-cyan: oklch(84.417% 0.1457 209.321);
  --color-pop-lime: oklab(90.824% -0.16022 0.18721);
  --color-pop-amber: oklch(84.028% 0.17238 84.078);

  --hue-rotate-1: 327;
  --hue-rotate-2: 186;
  --hue-rotate-3: 81;
  --hue-rotate-4: 46;

  --hue-rotate-1-strong: 340;
  --hue-rotate-2-strong: 200;
  --hue-rotate-3-strong: 120;
  --hue-rotate-4-strong: 28;

  --color-main-a: hsl(var(--hue-rotate-1) 100% 50%);
  --color-main-b: hsl(var(--hue-rotate-2) 100% 50%);
  --color-main-c: hsl(var(--hue-rotate-3) 100% 50%);
  --color-main-d: hsl(var(--hue-rotate-4) 100% 50%);

  --color-main-a-strong: hsl(var(--hue-rotate-1-strong) 100% 42%);
  --color-main-b-strong: hsl(var(--hue-rotate-2-strong) 100% 42%);
  --color-main-c-strong: hsl(var(--hue-rotate-3-strong) 100% 42%);
  --color-main-d-strong: hsl(var(--hue-rotate-4-strong) 100% 42%);

  --animate-marquee: marquee 10s linear infinite;
  --animate-sideBar: sideMarquee 100s linear infinite;
  --animate-cardGlich: card-glitch 0.05s linear infinite;

  --text-fluid-sm: clamp(0.75rem, 0.6346rem + 0.5128vw, 1.25rem);
  --text-fluid-base: clamp(1rem, 0.888rem + 0.56vw, 1.3rem);
  --text-fluid-title: clamp(1.5rem, 1rem + 2.5vw, 3.5rem);
  --text-fluid-sidebar: clamp(1.25rem, 0.8462rem + 1.7949vw, 3rem);
  /* --text-fluid-hero: clamp(3rem, 1rem + 12.3077vw, 16rem); */
  --text-fluid-hero: clamp(4rem, 2.3636rem + 7.2727cqi, 10rem);
  /* @link https://utopia.fyi/clamp/calculator?a=360,1680,64—160&p=Hero */

  --spacing-fluid-sidebar: clamp(0.25rem, -0.875rem + 2.3438vw, 1rem);

  --size-icon-sm: clamp(0.75rem, -0.9375rem + 3.5156vw, 1.875rem);
  --size-icon-md: clamp(1rem, -1.25rem + 4.6875vw, 2.5rem);
  --size-icon-lg: clamp(1.25rem, -1.5625rem + 5.8594vw, 3.125rem);
  --size-icon-base: clamp(1.5rem, -1.875rem + 7.0313vw, 3.75rem);
  --size-icon-xl: clamp(2rem, -2.5rem + 9.375vw, 5rem);
  --size-icon-2xl: clamp(2.5rem, -3.125rem + 11.7188vw, 6.25rem);
  --size-icon-3xl: clamp(3rem, -3.75rem + 14.0625vw, 7.5rem);
  --size-icon-4xl: clamp(4rem, -5rem + 18.75vw, 10rem);
  --size-icon-5xl: clamp(5rem, -6.25rem + 23.4375vw, 12.5rem);
  --size-icon-6xl: clamp(6rem, -7.5rem + 28.125vw, 15rem);

  --pcx-url-tb: url("./assets/images/textures/dither-tb.gif");
  --pcx-url-bt: url("./assets/images/textures/dither-bt.gif");
  --pcx-url-radial: url("./assets/images/textures/dither-radial.gif");
  --pcx-url-tr: url("./assets/images/textures/dither-tr.gif");
  --pcx-url-tl: url("./assets/images/textures/dither-tl.gif");
  --pcx-url-br: url("./assets/images/textures/dither-br.gif");
  --pcx-url-bl: url("./assets/images/textures/dither-bl.gif");
  --pcx-url-grunge-min: url("./assets/images/textures/grunge-min.gif");
  --pcx-url-grunge-md: url("./assets/images/textures/grunge-md.gif");
  --pcx-url-grunge-full: url("./assets/images/textures/grunge-full.gif");
  --pcx-url-grunge-lite: url("./assets/images/textures/grunge-lite.gif");

  --spacing-card: clamp(220px, 165.4545px + 15.1515cqi, 420px);

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
  @keyframes sideMarquee {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-50%);
    }
  }
  @keyframes card-glitch {
    0% {
      clip-path: inset(20% 0 70% 0);
      transform: translate(-4px, -2px);
    }
    10% {
      clip-path: inset(60% 0 10% 0);
      transform: translate(400px, 2px);
    }
    20% {
      clip-path: inset(45% 0 45% 0);
      transform: translate(-200px, 4px);
    }
    30% {
      clip-path: inset(80% 0 5% 0);
      transform: translate(300px, -3px);
    }
    40% {
      clip-path: inset(10% 0 80% 0);
      transform: translate(-500px, 2px);
    }
    50% {
      clip-path: inset(55% 0 30% 0);
      transform: translate(500px, -4px);
    }
    60% {
      clip-path: inset(30% 0 60% 0);
      transform: translate(-100px, 5px);
    }
    70% {
      clip-path: inset(75% 0 15% 0);
      transform: translate(400px, -2px);
    }
    80% {
      clip-path: inset(15% 0 75% 0);
      transform: translate(-300px, 1px);
    }
    90% {
      clip-path: inset(85% 0 5% 0);
      transform: translate(200px, -5px);
    }
    100% {
      clip-path: inset(5% 0 85% 0);
      transform: translate(-400px, 3px);
    }
  }
}

@utility pcx-* {
  --pcx-mask: --value(--pcx-url-*);

  mask-image: var(--pcx-mask);
  -webkit-mask-image: var(--pcx-mask);
  mask-position: var(--mask-pos, 0 0);
  -webkit-mask-position: var(--mask-pos, 0 0);
  mask-size: auto;
  -webkit-mask-size: auto;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

@utility pcx-mix-* {
  --pcx-mask-1: --value(--pcx-url-*);
  --pcx-mask-2: --modifier(--pcx-url-*);

  mask-image: var(--pcx-mask-1), var(--pcx-mask-2);
  -webkit-mask-image: var(--pcx-mask-1), var(--pcx-mask-2);
  mask-position: var(--mask-pos-1, 0 0), var(--mask-pos-2, 0 0);
  -webkit-mask-position: var(--mask-pos-1, 0 0), var(--mask-pos-2, 0 0);
  mask-size: auto;
  -webkit-mask-size: auto;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

body {
  @apply relative overflow-x-hidden bg-black font-mono text-zinc-300 antialiased;
}

#app::before {
  content: "";
  @apply absolute inset-0 h-full bg-main-c-strong/15;
}

main > header > * {
  @apply relative;
}

main > ol > li {
  @apply border-x border-y p-0;
}

.card-item header h2 {
  @apply text-main-c-strong;
}
.card-item article div {
  @apply border-l-4 border-main-c-strong pl-2 ml-4;
}
.card-item article div > * {
  @apply border-l-2 border-main-c-strong pl-1;
}
.card-item div h3 {
  @apply text-main-c text-sm font-mono;
}
.card-item div h4 {
  @apply text-main-c text-xs font-mono;
}
/* Cards */

.card-item {
  @apply border-[1.5px] border-main-b  w-full sm:w-auto;
}
.card-deco {
  border: none;
}
.card-deco .deco-tr,
.card-deco .deco-bl {
  display: none;
}

/* .card-artboard {
  border: 0;
} */

/* .card-projeto section > h2::before,
.card-drop section > h2::before,
.card-artboard section > h2::before,
.card-documento section > h2::before {
  background-color: color-mix(in srgb, var(--card-color) 75%, transparent);
} */

/* .pop_a {
  filter: var(--img-hue-1);
}

.pop_b {
  filter: var(--img-hue-2);
}

.pop_c {
  filter: var(--img-hue-3);
}

.pop_d {
  filter: var(--img-hue-4);
} */
.pop_a {
  filter: brightness(0) saturate(100%) invert(16%) sepia(81%) saturate(5968%)
    hue-rotate(322deg) brightness(99%) contrast(110%);
}

.pop_b {
  filter: brightness(0) saturate(100%) invert(73%) sepia(50%) saturate(3689%)
    hue-rotate(143deg) brightness(102%) contrast(112%);
}

.pop_c {
  filter: brightness(0) saturate(100%) invert(86%) sepia(97%) saturate(447%)
    hue-rotate(22deg) brightness(105%) contrast(121%);
}

.pop_d {
  filter: brightness(0) saturate(100%) invert(72%) sepia(87%) saturate(527%)
    hue-rotate(340deg) brightness(105%) contrast(97%);
}
