@import "tailwindcss";

@import url(sideBar.css);

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap");

@theme {
  --font-serif: "Bodoni Moda", serif;
  --font-serif-2: "Roboto Slab", serif;
  --font-sans: "Inter", sans-serif;

  --color-primary-50: var(--color-lime-50);
  --color-primary-100: var(--color-lime-100);
  --color-primary-200: var(--color-lime-200);
  --color-primary-300: var(--color-lime-300);
  --color-primary-400: var(--color-lime-400);
  --color-primary-500: var(--color-lime-500);
  --color-primary-600: var(--color-lime-600);
  --color-primary-700: var(--color-lime-700);
  --color-primary-800: var(--color-lime-800);
  --color-primary-900: var(--color-lime-900);
  --color-primary-950: var(--color-lime-950);

  /* Optional: Set a fallback default base value for just "bg-primary" */
  --color-primary: var(--color-lime-400);
}

@layer base {
  body {
    @apply font-sans;
  }
}
/* 1. Tell Prettier to stop touching this block */
/* prettier-ignore */

/* Suas outras classes customizadas ou variáveis abaixo... */
/* Corrigido para verificar o suporte real da API */
