@import "tailwindcss";

@import url(sideBar.css);

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,700&display=swap");

@theme {
  --font-serif: "Bodoni Moda", serif;
  --font-slab: "Roboto Slab", serif;
  --font-sans: "Inter", sans-serif;
  --font-title: "Big Shoulders", sans-serif;

  --hue-rotate-6: 74;
  --hue-rotate-7: 330;
  --hue-rotate-8: 180;
  --hue-rotate-0: 43;

  --color-primary: hsl(var(--hue-rotate-1), 100%, 60%);
  --color-second: hsl(var(--hue-rotate-2), 100%, 60%);
  --color-third: hsl(var(--hue-rotate-3), 100%, 60%);
  --color-fourth: hsl(var(--hue-rotate-4), 100%, 60%);
}

body {
  font-family: var(--font-sans);
}

@utility texture {
  mask-image: url(../assets/images/texture.gif);
  -webkit-mask-image: url(../assets/images/texture.gif);
  -webkit-mask-position: var(--mask-pos, 0% 0%);
  mask-position: var(--mask-pos, 0% 0%);
}

/* SOLUÇÃO DEFINITIVA V4: Captura o valor exato passado na classe substituindo '_' por espaços */
@utility texture-to-* {
  --gradient-dir: --value([*]);

  mask-image: linear-gradient(var(--gradient-dir), , black , transparent 80%), url(../assets/images/texture.gif) ;
  -webkit-mask-image: linear-gradient(var(--gradient-dir), black , transparent 80%), url(../assets/images/texture.gif);

  mask-composite: intersect;
  -webkit-mask-composite: source-in;

  mask-repeat: no-repeat, repeat;
  -webkit-mask-repeat: no-repeat, repeat;

  mask-position: var(--mask-pos, 0% 0%);
  -webkit-mask-position: var(--mask-pos, 0% 0%);
}

/* 1. Tell Prettier to stop touching this block */
/* prettier-ignore */
.pop_01 { filter: var(--img-hue-1); }
.pop_02 {
  filter: var(--img-hue-2);
}
.pop_03 {
  filter: var(--img-hue-3);
}
.pop_04 {
  filter: var(--img-hue-4);
}

.ativa_drop {
  height: 100%;
  display: flex;
  margin-block: 1.7rem;
}
.drop_slide {
  transform: translateX(0%);
}