@supports (animation-timeline: scroll()) {
  @keyframes side-bar {
    from {
      transform: translateY(calc(100% - 100svh));
    }
    to {
      transform: translateY(50%);
    }
  }

  .scroll-side-bar {
    animation-name: side-bar;
    animation-fill-mode: both;
    /* Monitora o scroll da página inteira */
    animation-timeline: scroll(root);
    /* O efeito começa em 0px de scroll e termina quando scrollar 400px */
    animation-range: 0% 100%;
  }
}
